<%- include('../partials/head.ejs') -%>
<%- include('../partials/progress.ejs') -%>
<%- include('../partials/navbar') -%>
<section class="page-header">
  <div class="col-md-12"><h3>Confirmer voyage</h3></div>
  <div class="bread">
    <a href="/">accueil </a>
    <a href="/reservations" disabled> / Confirmer voyage</a>
  </div>
</section>

<% if(locals.voyage) { %>
<div class="container-fluid py-6">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-3">
        <form action="/reservations/ajout" method="POST" class="form-general form-bg-gray mb-3">

          <input type="text" name="uidvoyage" id="uidvoyage" value="<%= voyage.uid_voyage %>" hidden readonly>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>station de départ</label>
                <input type="text" class="form-control" value="<%= voyage.nom_station %>" required disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>station d'arrivée</label>
                <input type="text" class="form-control" value="<%= voyage.arrive %>" required disabled>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>heure de départ</label>
                <input type="text" class="form-control" value="<%= voyage.heure_depart %>" disabled>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>heure d'arrivée</label>
                <input type="text" class="form-control" value="<%= voyage.heure_arrive %>" disabled>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>date de départ</label>
                <input type="text" class="form-control" value="<%= voyage.date_depart %>" disabled>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nbplaces" class="d-flex justify-content-between">
              nombre de places
              <span class="badge badge-pill badge-danger">disponibles <%= voyage.nb_places %></span>
            </label>
            <input type="number" name="nbplacesv" id="nbplacesv" value="<%= voyage.nb_places %>" hidden readonly>

            <input type="number" class="form-control" min="1" max="<%= voyage.nb_places %>" id="nbplaces"
              name="nbplaces" placeholder="Entrer nombre de places" required>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Prix d'une place</label>
              <input type="text" class="form-control display-3" value="<%= voyage.prix_place %> DNT" required readonly>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>prix total à payer</label>
                <input type="text" class="form-control display-3" id="total" name="total" value="0 DNT" required
                  readonly>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-dark">confirmer</button>
          <button type="reset" class="btn btn-danger">vider</button>
        </form>
      </div>

      <div class="col-md-6">
        <iframe id='mapcanvas'
          src='https://maps.google.com/maps?q=<%= encodeURIComponent(voyage.arrive) %>&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
          frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
        </iframe>
      </div>
    </div><!-- end row -->

  </div>
</div>
<% } %>
<script defer>
  let prixPlace = '<%=  voyage.prix_place %>'
  document.getElementById('nbplaces').onkeyup = (e) => {
    let nbPlaces = e.target.value;
    let total = document.getElementById('total')
    total.value = (nbPlaces * prixPlace) + ' DNT'
  }

  document.getElementById('nbplaces').onchange = (e) => {
    let nbPlaces = e.target.value;
    let total = document.getElementById('total')
    total.value = (nbPlaces * prixPlace) + ' DNT'
  }
</script>
<%- include('../partials/footer.ejs') -%>