<%- include('../partials/head.ejs') -%>
<%- include('../partials/progress.ejs') -%>
<%- include('../partials/navbar') -%>
<%- include('../partials/section',{ title:'Ticket', sub:'Ticket' }) -%>
<style>
  .toast {
    padding: 20px;
  }
  .toast small {
    text-transform: uppercase;
    color: #afafaf !important;
  }
  .toast h4 {
    font-size: 20px;
  }
  .col-md-8 iframe {
    max-height: 250px
  }
</style>
<div class="container-fluid py-6">
  <% if(locals.paymentInfo) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3" id="ticket">
        <div class="toast show">
          <div class="toast-header">
            <strong class="mr-auto">N°: <%= paymentInfo.newReserv.uidReservation %></strong>
            <small><%= paymentInfo.newReserv.nbPlaceReserv %> places</small>
          </div>
          <div class="toast-body">
            <div>
              <small>DE</small><h4><%= voyage.nom_station %></h4><small>vers</small><h4><%= voyage.arrive %></h4>
            </div>
            <div><small>Nom Complet</small><h4><%= nom %> <%= prenom %></h4></div>
            <div><small>date de départ</small><h4><%= locals.formatDate(voyage.date_depart) %></h4></div>
            <div><small>Heure de départ</small><h4><%= voyage.heure_depart %>h</h4>
            </div>
            <div><small>heure d'arrivée</small><h4><%= voyage.heure_arrive %>h</h4></div>
            <div>
              <small>Numéro de série du véhicule</small>
              <h4><%= (voyage.num_serie_vehicule).replace(/[-]+/g,' ') %></h4>
            </div>
            <div><small>TOTAL</small><h4><%= paymentInfo.newReserv.totalPrixPlaces %></h4></div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3">
        <iframe id='mapcanvas' class="mb-3"
          src='https://maps.google.com/maps?q=<%= encodeURIComponent(voyage.nom_station) %>&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
          frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
        </iframe>
        <iframe id='mapcanvas'
          src='https://maps.google.com/maps?q=<%= encodeURIComponent(voyage.arrive) %>&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
          frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
        </iframe>
      </div>
      <button type="button" class="btn btn-warning ml-3" id="btn-export">imprimer ticket</button>
    </div>
    <!--end row-->
  </div>
  <% } %>
</div>
<script src="/javascripts/pages/ticket.js" defer></script>
<%- include('../partials/footer.ejs') -%>