<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>
    <% if(locals.notification) { %>
    <form id="form-notif" class="form-notif bg-light p-0 mb-3">
      <div class="row">
        <div class="col-md-6">          
            <input type="text" class="form-control" name="idnotif" value="<%= notification.id %>" required
              hidden readonly>          

          <div class="form-group">
            <label for="sujet">Sujet</label>
            <input type="text" class="form-control" id="sujet" name="sujet" value="<%= notification.sujet %>" required>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="msg">Message</label>
            <textarea class="form-control" id="msg" name="msg" rows="7" required><%= notification.message %></textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-dark">modifier</button>
      <button type="reset" class="btn btn-danger">vider</button>
    </form>
    <div id="msg-notif"></div>
    <% } %>    
  </div>
</div>
<script src="/javascripts/pages/notification.js" defer></script>
<%- include('../../partials/footer.ejs') -%>