<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>
    <form action="/chefstation/vehicules/ajout" method="POST" class="form-general form-bg-gray mb-3">

      <div class="form-group">
        <label for="numSerie">numéro de serie</label>
        <input type="text" class="form-control" id="numSerie" pattern="[a-z0-9 -]+" name="numSerie"
          placeholder="Entrer numero de serie : 130-tunis-5883" required>
      </div>

      <div class="form-group">
        <label for="proprietaire">proprietaire</label>
        <input type="text" class="form-control" id="proprietaire" pattern="[a-zA-Z ]+" name="proprietaire"
          placeholder="Entrer nom proprietaire" required>
      </div>

      <div class="form-group">
        <label for="nbPlaces">nombre de Places</label>
        <input type="number" class="form-control" min="1" max="32" id="nbPlaces" name="nbPlaces"
          placeholder="Entrer nombre places" required>
      </div>

      <button type="submit" class="btn btn-dark">Ajouter véhicule</button>
      <button type="reset" class="btn btn-danger">vider</button>
    </form>
    <%- include('../../snackbar') -%>
  </div>
</div>
<%- include('../../partials/footer.ejs') -%>