<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>
    <% if(locals.vehicules) {  %>
      <div class="head-table w-100">
        <h3 class="w-50 mb-0"><i class="fas fa-cogs"></i> Gestion des véhicules</span></h3>
        <div class="d-flex flex-row-reverse bd-highlight w-50">
          <button onclick="tableToExcel('myTable')" class="btn btn-dark"><i class="fas fa-file-excel"></i> EN Excel</button>
          <a href="/chefstation/vehicules/ajout" class="btn btn-success mr-3"><i class="fas fa-plus"></i> Ajouter</a>
        </div>
      </div>
    <div class="table-responsive mb-3">
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th>proprietaire</th>
            <th>nombre de places</th>
            <th>numéro de serie</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <% vehicules.forEach(u => {  %>
          <tr>
            <td><%= u.proprietaire %></td>
            <td><%= u.nb_places_v %></td>
            <td><%= u.num_serie %></td>
            <td>
              <a href="/chefstation/vehicules/modifier?numserie=<%= u.num_serie %>" class="btn btn-success"><i
                  class="fas fa-pen-square"></i></a>
              <a href="/chefstation/vehicules/supprimer?numserie=<%= u.num_serie %>" class="btn btn-danger btn-delete"><i
                  class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>    
    <% } %>
  </div>
</div>
<script src="/javascripts/lib/alert.js"></script>
<script src="/javascripts/delete.js" defer></script>
<%- include('../../partials/footer.ejs') -%>