<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>
    <% if(locals.vehicule) { %>
    <form action="/chefstation/vehicules/modifier" method="POST" class="form-general form-bg-gray mb-3">
      <div class="form-group">
        <label for="numserie">numéro de Serie</label>
        <input type="text" class="form-control" id="numserie" name="numserie" value="<%= vehicule.num_serie %>" required
          readonly>
      </div>

      <div class="form-group">
        <label for="proprietaire">proprietaire</label>
        <input type="text" class="form-control" id="proprietaire" name="proprietaire" pattern="[a-zA-Z ]+"
          value="<%= vehicule.proprietaire %>" required>
      </div>

      <div class="form-group">
        <label for="nbPlaces">nombre de Places</label>
        <input type="number" class="form-control" id="nbPlaces" min="1" max="32" name="nbPlaces"
          value="<%= vehicule.nb_places_v %>" required>
      </div>

      <button type="submit" class="btn btn-dark">modifier véhicule</button>
    </form>
    <% } %>
  </div>
</div>
<%- include('../../partials/footer.ejs') -%>