<%- include('../partials/head.ejs') -%>
<%- include('../partials/progress.ejs') -%>
<%- include('../partials/navbar') -%>
<div class="container-fluid py-5">
  <div class="container">
    <%- include('navbar') -%>
    <% if(locals.data) {
    let myData = [
    { label : 'nombre des vehicules' , l : data.vehicules.length , fa:'fas fa-car'},
    { label : 'nombre des voyages' , l : data.voyages.length , fa:'fas fa-plane-departure'},
    { label : 'nombre des reservations' , l : data.reservations.length , fa:'fas fa-suitcase'}
    ]
    %>
    <div class="row text-uppercase mb-5">
      <% myData.forEach(v => { %>
      <div class="col-md-4 text-center mb-3">
        <div class="card box-light">
          <div class="card-body">
            <h1><i class="<%= v.fa %>"></i></h1>
            <h5 class="card-title"><%= v.label  %></h5>
            <h2><%= v.l %></h2>
          </div>
        </div>
      </div>
      <% }) %>
    </div><!-- end row-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">voyages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">réservations</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div id="voyages-chart"></div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div id="revs-chart"></div>
      </div>
    </div>
    <script src="/javascripts/charts/apexcharts.js" defer></script>
    <script src="/javascripts/charts/chef-charts.js" defer></script>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') -%>