<%- include('../../partials/head.ejs') -%>
<%- include('../../partials/navbar') -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('../navbar') -%>
    <% if(locals.station && Object.keys(locals.station).length > 0) { %>
    <form action="/admin/stations/modifier" method="POST" id="form-station" class="form-bg-gray mb-3">
      <div class="form-group">
        <input type="text" class="form-control" id="idstation" name="idstation" value="<%= station.id_station %>"
          required hidden readonly>
      </div>

      <div class="form-group">
        <label for="chef">chef de station</label>
        <input type="text" class="form-control" id="chef" name="chef" value="<%= station.email %>" required readonly>
      </div>

      <div class="form-group">
        <label for="nom">nom de station</label>
        <input type="text" class="form-control" id="nom" name="nom" value="<%= station.nom_station %>" required>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="ville">ville</label>
            <input type="text" class="form-control" id="ville" name="ville" value="<%= station.ville %>" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="tel">tel</label>
            <input type="tel" class="form-control" id="tel" name="tel" minlength="8" maxlength="8"
              value="<%= station.station_tel %>" required>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-dark">modifier station</button>
    </form>
    <div class="alert alert-danger dnone" role="alert"></div>
    <% } %>
  </div>
</div>
<script src="/javascripts/pages/station.js" defer></script>
<%- include('../../partials/footer.ejs') -%>