<%- include('../partials/head.ejs') -%>
<%- include('../partials/progress.ejs') -%>
<%- include('../partials/navbar') -%>
<%- include('../partials/section',{ title:'Mon Compte', sub:'Mon compte' }) -%>
<div class="container-fluid py-6">
  <div class="container">
    <%- include('navtabs') -%>    
  </div>
</div>
<%- include('../partials/footer.ejs') -%>